.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  
  .filter {
    position: relative;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    width: calc(80% / 6 - 20px);
    margin: 6px;
    overflow: hidden;
    background-color: white;
  }
  
  .filter label {
    font-size: 18px;
    font-weight: 400;
    color: #4070f4;
    margin-right: 10px;
  }
  
  .filter select {
    width: 100%;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .filter select:active {
    transform: scale(0.88);
  }
  
  .name-filter,
  .temperament-filter,
  .weight-filter {
    padding: 0px;
  }
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
    margin: 20px auto;
    width: 80%;
    justify-content: center;
    align-items: center;
  }