.landing-page {
    background-image: url('https://img.freepik.com/free-photo/group-portrait-adorable-puppies_53876-148018.jpg?w=1380&t=st=1684886976~exp=1684887576~hmac=cfb98374d3b3ac6ace2db025d87d501b8ddf320e7510c77a41f50218711ac445');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 50px;
    color: #080808;
    text-align: center;
    margin-top: -500px; 
  }
  
  .enter-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px; 
  }
  
  .enter-button:hover {
    background-color: #e0e0f0;
  }
  
  .loaders-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -500px; 
  }
  
  .loaders {
    width: 100px;
    height: 100px;
    animation: moveGif 3s linear infinite;
    background-color: white;
    border-radius: 50%; 
    z-index: 2;
  }
  
  @keyframes moveGif {
    0% {
      transform: translateX(-250%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  
  .loaders-text {
    position: absolute;
    z-index: 1;
    color: #080808; 
    font-size: 20px; 
    text-align: center;
  }
  