.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Ajusta este valor a la cantidad de espacio que desees */
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
  }
  
  .menu a {
    position: relative;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding: 8px;
    overflow: hidden;
    background-color: white;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease;
  }
  
  .menu a:active {
    transform: scale(0.88);
  }
  
