.header {
    background-color: #3e6aa3;
    height: 80px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: auto;
    width: 110px;
    margin-top: 5px;
  }
  .menu {
    align-items: center;
  }
  
  .search-bar {
    text-align: center;
  }
  
  .home-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: auto;

  }
.logo,
.search-bar,
.menu {
  flex: 1;
}